version: '3.7'
services:
  mariadb:
    image: mariadb:latest
    container_name: powerdns_db
    restart: always
    volumes:
      - ./mariadb/data:/var/lib/mysql
      - ./mariadb/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    environment:
      MYSQL_ROOT_PASSWORD: {{ powerdns_db_root_password }}
      MYSQL_DATABASE: {{ powerdns_db }}
      MYSQL_USER: {{ powerdns_db_user }}
      MYSQL_PASSWORD: {{ powerdns_db_password }}
    networks:
      dns_net:
        ipv4_address: 192.168.222.10
    healthcheck:
      test: mysqlcheck --user {{ powerdns_db_user }} --password={{ powerdns_db_password }} {{ powerdns_db }}
      interval: 10s
      timeout: 5s
      retries: 3
  powerdns:
    image: powerdns-server
    build: ./powerdns-server
    container_name: powerdns_server
    restart: always
    entrypoint: pdns_server
    command: {{ powerdns_server_flags }}
    volumes:
      - type: bind
        source: ./zone
        target: /zones
{% if powerdns_environment|count > 0 %}
    environment: {{ powerdns_environment }}
{% endif %}
{% if powerdns_traefik_deployment %}
{% if powerdns_publish_api %}
    ports:
      - "0.0.0.0:8081:8081"
{% endif %}
    networks:
      dns_net:
        ipv4_address: 192.168.222.30
      traefik:
    labels: {{ powerdns_server_traefik_labels }}
{% else %}
{% if powerdns_publish_api %}
    ports:
      - "0.0.0.0:8081:8081"
{% endif %}
    networks:
      dns_net:
        ipv4_address: 192.168.222.30
{% endif %}
    healthcheck:
      test: "curl -f -H 'X-API-Key: {{ powerdns_api_key }}' http://127.0.0.1:8081/api/v1/servers/localhost"
      interval: 10s
      timeout: 5s
      retries: 3
  powerdns_recursor:
    image: powerdns-recursor
    build: ./powerdns-recursor
    container_name: powerdns_recursor
    restart: always
    entrypoint: pdns_recursor
    command: {{ powerdns_recursor_flags }}
    volumes:
      - type: bind
        source: ./powerdns-recursor/forward_zones
        target: /etc/powerdns/forward_zones
      - type: bind
        source: ./powerdns-recursor/run
        target: /var/run/pdns-recursor
{% if powerdns_recursor_environment|count > 0 %}
    environment: {{ powerdns_recursor_environment }}
{% endif %}
{% if powerdns_traefik_deployment %}
{% if powerdns_publish_api %}
    ports:
      - "0.0.0.0:8082:8081"
{% endif %}
    networks:
      dns_net:
        ipv4_address: 192.168.222.40
      traefik:
    labels: {{ powerdns_recursor_traefik_labels }}
{% else %}
{% if powerdns_publish_api %}
    ports:
      - "0.0.0.0:8082:8081"
{% endif %}
    networks:
      dns_net:
        ipv4_address: 192.168.222.40
{% endif %}
    healthcheck:
      test: "curl -f -H 'X-API-Key: {{ powerdns_api_key }}' http://127.0.0.1:8081/api/v1/servers/localhost"
      interval: 10s
      timeout: 5s
      retries: 3
{% if powerdns_pihole_enabled %}
  pihole:
    image: pihole/pihole
    container_name: powerdns_pihole
    restart: always
    ports:
      - "{{ powerdns_dnsdist_bind_address }}:53:53/udp"
      - "{{ powerdns_dnsdist_bind_address }}:53:53/tcp"
    networks:
      dns_net:
        ipv4_address: 192.168.222.60
{% if powerdns_traefik_deployment %}
      traefik:
{% endif %}
    healthcheck:
      test: "nslookup google.com 192.168.222.60"
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    environment:
      ServerIP: "{{ powerdns_dnsdist_bind_address }}"
      PIHOLE_DNS_: 192.168.222.40
      VIRTUAL_HOST: {{ powerdns_pihole_virtual_host }}
      WEBPASSWORD: '{{ powerdns_pihole_webpassword }}'
      TZ: '{{ powerdns_pihole_timezone }}'
    labels: {{ powerdns_pihole_traefik_labels }}
{% endif %}
networks:
  dns_net:
    ipam:
      driver: default
      config:
        - subnet: 192.168.222.0/24
{% if powerdns_traefik_deployment %}
  traefik:
    external:
      name: traefik_backend
{% endif %}
